/** @format */
.todos-page {
    height: 91vh;
    display: flex;
    flex-direction: column;
}

// pageHead.scss is here

.todos-main {
    overflow: auto;

    .todos-body {
        //    display: flex;
        //    flex-wrap: wrap;
        //    gap: 20px;
        //    align-items: start;
        padding-top: 10px;

        .todo-container {
            display: flex;
            gap: 30px;
            justify-content: center;
            //   border: 1px solid red;
            align-items: center;

            .ant-card {
                height: 50px;
                border-color: #bbb;
                border-radius: 4px !important;
                display: flex;
                align-items: center;
            }
            .todo-actions {
                display: flex;
                gap: 8px;
            }
        }

        .not-found-text {
            color: #aaa;
            font-weight: 500;
            display: block;
            width: 100%;
            padding: 20px 0 40px 0;
            text-align: center;
        }
    }
}
